{% set gamesToBePlayed = [
  'Scotty vs Martyn',
  'Andy vs Jim',
  'Billy vs Mitch',
  'Bruce vs Ian',

  'Jim vs Scotty',
  'Mitch vs Martyn',
  'Ian vs Andy',
  'Bruce vs Billy',

  'Scotty vs Mitch',
  'Jim vs Ian',
  'Martyn vs Bruce',
  'Andy vs Billy',

  'Ian vs Scotty',
  'Bruce vs Mitch',
  'Billy vs Jim',
  'Andy vs Martyn',

  'Scotty vs Bruce',
  'Ian vs Billy',
  'Mitch vs Andy',
  'Jim vs Martyn',

  'Billy vs Scotty',
  'Andy vs Bruce',
  'Martyn vs Ian',
  'Jim vs Mitch',

  'Scotty vs Andy',
  'Billy vs Martyn',
  'Bruce vs Jim',
  'Ian vs Mitch',

  'Martyn vs Scotty',
  'Jim vs Andy',
  'Mitch vs Billy',
  'Ian vs Bruce',

  'Scotty vs Jim',
  'Martyn vs Mitch',
  'Andy vs Ian',
  'Billy vs Bruce',

  'Mitch vs Scotty',
  'Ian vs Jim',
  'Bruce vs Martyn',
  'Billy vs Andy',

  'Scotty vs Ian',
  'Mitch vs Bruce',
  'Jim vs Billy',
  'Martyn vs Andy',

  'Bruce vs Scotty',
  'Billy vs Ian',
  'Andy vs Mitch',
  'Martyn vs Jim',

  'Scotty vs Billy',
  'Bruce vs Andy',
  'Ian vs Martyn',
  'Mitch vs Jim',

  'Andy vs Scotty',
  'Martyn vs Billy',
  'Jim vs Bruce',
  'Mitch vs Ian',
] %}

{% set gamesPlayed = craft.entries.section('games').title(gamesToBePlayed).all() %}

<div>
  <h2 class="text-center text-3xl py-5">Games still to be played</h2>
  <div class="text-center grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-12">
    {% for rounds in gamesToBePlayed | batch(4) %}
      <div>
        <h3 class="text-2xl">Round {{ loop.index }}</h3>
        <ul class="mb-5 grid grid-cols-2 gap-4">
          {% for game in rounds %}
            <li>
              {%- if game not in gamesPlayed|map(game => game.title) -%}
                {{ game }}
              {%- else -%}
                {% set playedGame = gamesPlayed|filter(thisGame => thisGame.title == game)|first %}
                <span class="text-gray-500"><s><a href="{{ playedGame.url }}">{{ playedGame.title|replace(' vs ', " #{playedGame.player1LegsWon} vs #{playedGame.player2LegsWon} " ) }}</a></s></span>
              {%- endif -%}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
