{% extends "_layout" %}
{% set title = "Players" %}


{% block content %}
  <h1 class="text-5xl text-center">Players</h1>

  <ul class="grid grid-cols-2">
    {% for player in craft.entries.section('players').all() %}
      <li class="text-center underline max-w-4xl">{{ player.link }}</li>
    {% endfor %}
  </ul>
{% endblock %}
