{% extends "_layout" %}
{% set title = "Players" %}


{% block content %}
  <h1 class="text-5xl text-center mb-5">Players</h1>

  <ul class="">
    {% for player in craft.entries.section('players').all() %}
      <li class="text-center underline mb-3">{{ player.link }}</li>
    {% endfor %}
  </ul>
{% endblock %}
