@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  @apply font-sans font-normal;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/bg.png) no-repeat top left fixed;
  background-size: 50%;
  opacity: 0.1;
  z-index: -1;
}

a {
  @apply text-current   no-underline
}

input + .check-label:after {
  content: ' ✓';
  visibility: hidden;
}

input:checked + .check-label {
  background: #3182ce;
  color: white;
}

input:checked + .check-label:after {
  visibility: visible;
}
