{% extends "_layout" %}

{% block content %}
  <h1 class="text-5xl text-center">Games Played</h1>
  <ul class="text-center">
    {% for playedDate, games in craft.entries.section('games').all()|group('postDate|date') %}
      <li class="border-t-2 py-5">
        <h2 class="pb-4">{{ playedDate }}</h2>
        <ul>
          {% for game in games %}
            <li><a href="{{ game.url }}">{{ game.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  {% include "_partials/_gamesToBePlayed.twig" %}

{% endblock %}
