{% extends "_layout" %}
{% set title = "Games" %}

{% block content %}
  <h1 class="text-5xl text-center">Games Played</h1>
  <ul class="text-center">
    {% for playedDate, games in craft.entries.section('games').level(2).orderBy('postDate DESC').all()|group('postDate|date') %}
      <li class="border-t-2 py-5">
        <h2 class="pb-4">{{ playedDate|date('l jS F Y') }}</h2>
        <ul class="flex justify-center">
          {% for league, games in games|group('parent.title') %}
            <li class="m-3"><span class="text-2xl">{{ league }} Games</span>
              <ul>
                {% for game in games %}
                  <li>
                    <a class="underline" href="{{ game.url }}">{{ game.title|replace(" vs ", " #{game.player1LegsWon} vs #{game.player2LegsWon} ") }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  {% include "_partials/_gamesToBePlayed.twig" %}

{% endblock %}
