<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="none">
    <title>'mon the Tigers!</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="block mx-auto p-8 max-w-5xl bg-gray-100">
      <h1 class="text-3xl text-center pt-10" ><span class="font-bold">C</span>oronavirus <span class="font-bold">U</span>nited <span class="font-bold">N</span>ewton <span class="font-bold">T</span>igers <span class="font-bold">S</span>ingles</h1>
      <h2 class="text-center pb-10">Darts League</h2>
      <ul class="list-inline text-center">
        <li class="inline-block"><a href="/">Home</a> |</li>
        <li class="inline-block"><a href="/games">Games</a> |</li>
        <li class="inline-block"><a href="/players">Players</a></li>
      </ul>
      <div class="pt-5">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
