<!doctype html>
{% apply spaceless %}
{% do view.registerJsFile(mix("/js/manifest.js")) %}
{% do view.registerJsFile(mix("/js/vendor.js")) %}
{% do view.registerJsFile(mix("/js/app.js")) %}
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="none">
    <title>{{ title is defined ? title ~ " | " }}{{ siteName }}</title>
    <link href="{{ mix('css/app.css') }}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="'mon the Tigers!">

  </head>
  <body class="min-h-screen bg-sky-50 text-sky-800 text-lg pb-12">

    {% include "_partials/_banner.twig" %}

    <div class="block mx-auto p-2 sm:p-8 max-w-screen-xl relative">
      <ul class="list-inline text-center list-none">
        <li class="inline-block mb-5 mx-1">
          <a class="bg-gray-50 rounded-lg ring-2 px-2 py-1 {% if craft.app.request.segments is empty %}text-sky-600 ring-blue-600{% else %}shadow-md ring-blue-800 text-sky-800{% endif %}" href="/">Home</a>
        </li>
        <li class="inline-block mb-5 mx-1">
          <a class="bg-gray-50 rounded-lg ring-2 px-2 py-1 {% if 'games' in craft.app.request.segments %}text-sky-600 ring-blue-600{% else %}shadow-md ring-blue-800 text-sky-800{% endif %}" href="/games">Competitions</a>
        </li>
        <li class="inline-block mb-5 mx-1">
          <a class="bg-gray-50 rounded-lg ring-2 px-2 py-1 {% if 'remaining-games' in craft.app.request.segments %}text-sky-600 ring-blue-600{% else %}shadow-md ring-blue-800 text-sky-800{% endif %}" href="/remaining-games">Remaining Games</a>
        </li>
        <li class="inline-block mb-5 mx-1">
          <a class="bg-gray-50 rounded-lg ring-2 px-2 py-1 {% if 'players' in craft.app.request.segments %}text-sky-600 ring-blue-600{% else %}shadow-md ring-blue-800 text-sky-800{% endif %}" href="/players">Players</a>
        </li>
        <li class="inline-block mb-5 mx-1">
          <a class="bg-gray-50 rounded-lg ring-2 px-2 py-1 {% if 'order-of-merit' in craft.app.request.segments %}text-sky-600 ring-blue-600{% else %}shadow-md ring-blue-800 text-sky-800{% endif %}" href="/order-of-merit">Order of Merit</a>
        </li>
        <li class="inline-block mb-5 mx-1">
          <a class="bg-gray-50 rounded-lg ring-2 px-2 py-1 {% if 'scoring' in craft.app.request.segments %}text-sky-600 ring-blue-600{% else %}shadow-md ring-blue-800 text-sky-800{% endif %}" href="/scorers">Scorers</a>
        </li>

      </ul>
    </div>

    <div class="pb-10" id="app">
      {% block content %}{% endblock %}
    </div>

    <footer class="text-center text-sm text-gray-400 absolute bottom-0 left-0 right-0 min-h-5 pb-5">
      <p>Copyright {{ now|date('Y') }} <a target="_blank" class="underline" href="https://billyfagan.co.uk">Billy Fagan</a> |
        <a target="_blank" class="underline" href="https://github.com/billythekid/coronadarts">View on GitHub</a></p>
    </footer>

  </body>
</html>
{% endapply %}
