<!doctype html>
{% spaceless %}
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="none">
    <title>{{ title is defined ? title ~ " | " }}'mon the Tigers!</title>
    <link href="/assets/css/app.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body class="min-h-screen bg-blue-100">

    {% include "_partials/_banner.twig" %}

    <div class="block mx-auto p-2 sm:p-8 max-w-screen-xl relative text-blue-800 text-lg pb-64">
      <ul class="list-inline text-center">
        <li class="inline-block mb-5 mx-1">
          <a class="bg-gray-100 rounded-lg border-2 px-2 py-1 {% if craft.app.request.segments is empty %}text-blue-600 border-blue-600{% else %}shadow-md border-blue-800 text-blue-800{% endif %}" href="/">Home</a>
        </li>
        <li class="inline-block mb-5 mx-1">
          <a class="bg-gray-100 rounded-lg border-2 px-2 py-1 {% if 'games' in craft.app.request.segments %}text-blue-600 border-blue-600{% else %}shadow-md border-blue-800 text-blue-800{% endif %}" href="/games">Games</a>
        </li>
        <li class="inline-block mb-5 mx-1">
          <a class="bg-gray-100 rounded-lg border-2 px-2 py-1 {% if 'players' in craft.app.request.segments %}text-blue-600 border-blue-600{% else %}shadow-md border-blue-800 text-blue-800{% endif %}" href="/players">Players</a>
        </li>
        <li class="inline-block mb-5 mx-1">
          <a class="bg-gray-100 rounded-lg border-2 px-2 py-1 {% if 'order-of-merit' in craft.app.request.segments %}text-blue-600 border-blue-600{% else %}shadow-md border-blue-800 text-blue-800{% endif %}" href="/order-of-merit">Order of Merit</a>
        </li>
      </ul>
      <div class="py-10">
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer class="text-center text-sm text-gray-400 absolute bottom-0 left-0 right-0 min-h-5 pb-5">
      <p>Copyright {{ now|date('Y') }} <a target="_blank" class="underline" href="https://billyfagan.co.uk">Billy Fagan</a> | <a target="_blank" class="underline" href="https://github.com/billythekid/coronadarts">View on GitHub</a></p>
    </footer>

  </body>
</html>
{% endspaceless %}
