{% extends "_layout" %}

{% block content %}



  <div class="mb-5">
    {% include "_partials/_eliminationTournaments.twig" %}
  </div>

  <div class="mb-5">
    {% include "_partials/_winnerStaysOnTournaments.twig" %}
  </div>

  <div class="px-2">
    {% for competition in craft.entries.section('games').level(1).competitionType("roundRobin").with(['players']).orderBy('postDate DESC').all() %}
      {% include "_partials/_leaderBoard" with {competition:competition} %}
    {% endfor %}
  </div>

{% endblock %}
