{% extends "_layout" %}

{% block content %}



  <div class="mb-5">
    {% include "_partials/_coronaCup.twig" %}
  </div>

  {% set tableHeadings %}
    <tr class="bg-gray-100">
      <th class="p-2 text-center">Player</th>
      <th class="p-2 text-center"><span class="sm:hidden">Pts</span><span class="hidden sm:inline">Points</span></th>
      <th class="p-2 text-center"><span class="sm:hidden">Pld</span><span class="hidden sm:inline">Played</span></th>
      <th class="p-2 text-center">Won</th>
      <th class="p-2 text-center hidden sm:table-cell">Lost</th>
      <th class="p-2 text-center hidden sm:table-cell">Legs For</th>
      <th class="p-2 text-center hidden sm:table-cell">Against</th>
      <th class="p-2 text-center"><span class="sm:hidden">L/D</span><span class="hidden sm:inline">Leg Diff</span></th>
    </tr>
  {% endset %}

  {% for competition in craft.entries.section('games').level(1).where('field_competitionType = "roundRobin"').all() %}
    {% include "_partials/_leaderBoard" with {competition:competition} %}
  {% endfor %}

  {% include "_partials/_gamesToBePlayed.twig" %}

{% endblock %}
