{% extends "_layout" %}

{% block content %}



  <div class="mb-5">
    {% include "_partials/_coronaCup.twig" %}
  </div>

  {% for competition in craft.entries.section('games').level(1).where('field_competitionType = "roundRobin"').orderBy('postDate DESC').all() %}
    {% include "_partials/_leaderBoard" with {competition:competition} %}
  {% endfor %}

  {% include "_partials/_gamesToBePlayed.twig" %}

{% endblock %}
