{% extends "_layout" %}
{% set game = craft.app.request.getParam('game') is not empty ? craft.app.request.getParam('game') : '25s and Bulls' %}
{% block content %}
  <div class="block mx-auto max-w-screen-xl relative mb-20 ">
    <h1 class="text-5xl text-center mb-4">{{ game | ucfirst }} Scoreboard</h1>
    <div class="leading-loose sm:leading-normal">
      <p>Here's a randomly generated {{ game | ucfirst }} scoring system.</p>
      <p>You can add, edit and remove player names and rounds. You can drag rounds into a different order.</p>
      <p>To score just put in the score the player hit for that round, the table will work out the running totals for you.</p>
    </div>
  </div>

  <lose-lives :start-players="{{ shuffle(players) | json_encode }}" game="{{ game }}"></lose-lives>

{% endblock %}

