{% extends "_layout" %}

{% block content %}
  <div class="block mx-auto max-w-screen-xl relative">
    <h1 class="text-5xl text-center">Scorers</h1>

    <div class="text-center">
      <p><a class="underline" href="/scorers/n01">n01</a></p>
      <p><a class="underline" href="/scorers/half-it">Half It (pre-filled with all system <a href="players" class="underline">players</a>)</p>
      <p><a class="underline" href="/scorers/half-it?blank=true">Half It (no players)</a></p>
    </div>
  </div>
{% endblock %}

