{% extends "_layout" %}

{% requireLogin %}

{% block content %}
  <div id="scoring-form">
    <div class="choose-a-competition-field select-field">
      <label class="block " for="choose-a-competition">Choose a competition</label>
      <competitions-dropdown :competitions='competitions' id="choose-a-competition" @competition-change="competitionChange"></competitions-dropdown>
      <label class="block " for="choose-player-1" v-if="currentCompetition">Player 1</label>
      <player-dropdown :players="currentCompetition.players" v-if="currentCompetition" @player-change="player1Change"></player-dropdown>
      <label class="block " for="choose-player-1" v-if="currentCompetition">Player 2</label>
      <player-dropdown :players="currentCompetition.players" v-if="currentCompetition" @player-change="player2Change"></player-dropdown>
    </div>
  </div>

  {% js at head %}
  var competitions = {{ craft.entries.section('games').with(['players','children']).level(1).all()|map(comp=>{
    title:comp.title,
    id:comp.id,
    players: comp.players | map(player=>{
      title:player.title,
      id: player.id
    }),
    gamesPlayed: comp.children | map(game =>{
        title:game.title,
        id: game.id,
        url: game.url
    }),
    gamesToBePlayed: comp.competitionType == "roundRobin" ? craft.league.roundRobin(comp.players, comp.roundRobinRounds)
  })
  | json_encode | raw }};
  {% endjs %}
{% endblock %}
